<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="perfil.component.css">
    <title>Perfil</title>
</head>

<body>
  <div class="perfil-container">
    <h2>Perfil del Usuario</h2>

    <div class="perfil-info">
      <img src="https://scontent.fbog19-1.fna.fbcdn.net/v/t39.30808-6/455652636_500666986191195_8439450857411921343_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=64J-yMExabAQ7kNvgFo7Jvq&_nc_zt=23&_nc_ht=scontent.fbog19-1.fna&_nc_gid=AARoXT8fnhIEfLDwwKoBcEX&oh=00_AYAEflQDovQ7P_mA7zaqwloE3MA3G90bmOcvx1OXZ5PC5Q&oe=6757D991" alt="Foto de perfil">
      <p><strong>Nombre:</strong> Alisson Polo</p>
      <p><strong>Rol:</strong> Administrador</p>
      <p><strong>Email:</strong> alisson.edu.co</p>
      <p><strong>Teléfono:</strong> 0000000</p>
    </div>

  </div>

  <!-- Botón de regreso fijo -->
  <div class="actions">
    <button class="btn-volver" [routerLink]="['/dashboard']">Volver al Dashboard</button>
  </div>
</body>
